<!doctype html>
<html ng-app="timetableApp">

<head>
    <title>My Angular App</title>
    <link rel="stylesheet" type="text/css" href="stylesheets.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script>
        var timetableApp = angular.module("timetableApp", []);
    timetableApp.controller("timetableController", function ($scope, $http) {
    $http({
                    method: 'GET',
                    url: 'http://localhost:8888/groupSchedule?groupId=945',
                }).success(function(data) {
                    $scope.timetable=data.days;
                });
    
});
    </script>
</head>

<body ng-controller="timetableController">
    <div class = "timetableHeader">
        <div class="qwe">Дата</div>
        <div class="qwe">Время</div>
        <div class="subgroup">Подгруппа</div>
        <div class="subject">Дисциплина</div>
        <div class="teacher">Преподователь</div>
        <div class="addess">Аудитория</tdivh>
        </div>
        <div ng-repeat="daySchedule in timetable">
            <div class="day">
                <div class="date">{{daySchedule.date}}</div>
                <div class="schedule" data-ng-repeat="lesson in daySchedule.lessons">
                    <div class="field time">{{lesson.timeStart}}-{{lesson.timeEnd}}</div>
                    <div class="field group">{{lesson.subgroup.title}}</div>
                    <div class="field lesson">{{lesson.type}} {{lesson.title}}</div>
                    <div class="field teacher">{{lesson.teacher.post}} {{lesson.teacher.fullName}}</div>
                    <div class="field address">{{lesson.room}}, {{lesson.address}}</div>
                </div>
            </div>
        </div>
        </tbody>


</body>

</html>